@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
header{
  display: flex;
  /* margin: 0 3rem 0; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: fixed;
  background-color: white;
  height: auto;
  width: 100%;  
  z-index: 1;
}

header img{
  width: 10rem;
  margin-left: 2rem;
}
header li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  transition: .3s;
}
a:hover{
  color: #F48B21;
  text-decoration: underline;
}
.header-pages{
  display: flex;
  margin-right: 2rem;
}

.header-list{
  margin-right: 2rem;
  font-size: 1.5rem;
}

.home-container{
  background-image: url('../images/home\ 2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11rem;
  
}
.home-container::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  position: absolute;
}
.home-container h1 {
  text-align: center;
  color: #F48B21;
  position: relative;
  font-size: 2.8rem;
  padding-top: 3rem;
  margin-top: 0;
  font-family: 'Lexend Zetta', sans-serif;

}
.home-section{
  margin-top: -1rem;
}
.home-container p{
  position: relative;
  text-align: center;
  color: white;
  font-size: 2.2rem;
  letter-spacing: .5rem;
  font-family: 'Arimo', sans-serif;

}
.home-container span{
  color: transparent;
  -webkit-text-stroke: .1px #F48B21;
}
.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  /* font-size: 18px; */
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  font-size: 1.6rem;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.btn:active {
  scale: 1;
}
.about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 2.2rem;
  font-family: 'Lexend Zetta', sans-serif;

}
.about-container{
  display: flex;
  align-items: center;
}
.about-container img{
  width: 20rem;
}
.about-container p{
  width: 40rem;
}

.about-desc h3{
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Arimo', sans-serif;
} 
.about-desc p{
  font-size: 1.4rem;
  letter-spacing: .1rem;
  line-height: 1.7rem;
  font-family: 'Arimo', sans-serif;
}
.orange{
  color: #F48B21;
}

.projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;
}
.projects-section h1{
  text-align: center;
}
.container{
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.slider-wrapper .slider-btn{
  font-size: 3rem;
  color: white;
  font-weight: bold;
  background-color: #F5B06A;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
#prev-slide{
  display: none
}
.next-btn{
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: #F5B06A;

  cursor: pointer;
  right: 0;
  border-radius: 50%;

}
.next-btn:hover{
  background-color: #F48B21;

}
.prev-btn:hover{
  background-color: #F48B21;
}
.slider-wrapper .image-list{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 1rem;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 1rem;
}
.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;

}
.slider-wrapper .image-list .image-item{
  width: 15rem;
  height: 20rem;
  
  object-fit: cover;
}
.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background-color: #ccc;
  position: relative;
  border-radius: 10%;
}
.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}
.slider-scrollbar .scrollbar-track:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #F48B21;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 50rem;


}

.input {
  background-color: #212121;

  height: auto;
  padding: 1rem;

  border: 2px solid #ccc;
  /* border-radius: .6rem; */
  /* border-top-left-radius: 3rem; */
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: .6rem;
  color: white;

  font-size: 1.6rem;

}

.input:focus {
  color: #F48B21;
  background-color: #212121;
  outline-color: #F48B21;
  box-shadow: -3px -3px 15px #F5B06A;
  transition: .1s;
  transition-property: box-shadow;
}
.input-box{
  display: flex;
  justify-content: space-between;
 
}
.submit{
  font-size: 1.6rem;
}

.textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-radius: .9rem;
  resize: none;
  margin-top: 0.5rem;
  

}

footer{
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  /* margin-top: 5vh; */
  background-color: #F5B06A;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  
}
.footer-container{
  display: flex;

  justify-content: space-around;
  margin-left: 2rem;
  background-color: #F48B21;
  margin: 0;
  margin-top: 2rem;
  color: white;
}
.company-logo img{
  width: 15rem;
}
.links-container{
  margin-left: 2rem;

  margin-right: 2rem;

}
.links-container h3{
  font-size: 1.5rem;
}
.links-container p{
  font-size: 1.4rem;
  color: white;
}
.contact-container{
  display: flex;
  flex-direction: column;
  margin-left: 0;

}
.contact-container h3{
  font-size: 1.5rem;
}
.contact-container a{
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: white;
}
.contact-links{
  display: flex;

}
.contact-icon{
  font-size: 1.4rem;
}
.location-container h3{
  font-size: 1.5rem;
}
.location-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 15rem;
}
.location-container p {
  font-size: 1.4rem;
}
@media (max-width :1260px) {

  html{
    font-size: 80%;
  }

  .card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .e-card:nth-child(3){
    margin-left: 20rem;
    margin-right: -10rem;
  }
}
@media (max-width :780px) {

  html{
    font-size: 55%;
  }
  /* body{
    padding: 0.3rem;
  } */
}
@media (max-width :535px) {

  html{
    font-size: 45%;
  }
  
}
@media (max-width :440px) {

  html{
    font-size: 35%;
  }
  .e-card{
    margin-top: 15rem;
  }
}
@media (max-width :343px) {

  html{
    font-size: 30%;
  }
  
}
@media (max-width :300px) {

  html{
    font-size: 29%;
  }
}
@media (max-width :280px) {
  html{
    font-size: 27%;
  }
  
  .home-container{
    height: 40rem;
  }
}
@media (max-width :260px) {

  html{
    font-size: 20%;
  }
  
  .home-container{
    height: 40rem;
  }
  .e-card{
    margin-top: 10rem;
  }
}
@media (max-width :200px) {

  html{
    font-size: 15%;
  }
  
  .home-container{
    height: 40rem;
  }
  .e-card{
    /* gap: 2rem; */
    margin-top: 10rem;
    /* border: 1px solid red; */
  }
  
  .btn{
    padding: 1rem 5rem;
  }
}
@media (max-width :150px) {

  html{
    font-size: 10%;
  }
  
  .home-container{
    height: 40rem;
  }
  .home-buttons button{
    height: 10px;
    width: 5px;
  }
  .e-card{
    /* gap: 2rem; */
    margin-top: 10rem;
    /* border: 1px solid red; */
  }
  .btn{
    padding: 1rem 3rem;
  }
}
@media (max-width :100px){
  html{
    font-size: 5%;
  }
  .btn{
    padding: 1rem 5rem;
  }
}
@media (max-width :70px){
  html{
    font-size: 3%;
  }
  .btn{
    padding: 0.5rem 3rem;
  }
}