.row{
  width: 100%;
}
.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#F48B21,#F5B06A 60%,black);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.services-container{
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.services-title{
  text-align: center;
}
.services-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section .title{
  margin-bottom: 1rem;
}

.e-card {
  margin: 1rem; 
  box-shadow: 0px 8px 28px -9px #F9C794;
  position: relative;
  width: calc(25% - 40px); 
  min-width: 10rem;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block; 
  vertical-align: top; 
  margin-left: auto;
  margin-right: auto;
}
.icon{
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .e-card {
    width: calc(50% - 40px); 
  }
}
